{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title has-text-centered">Set a New Password</h1>
        <div class="box">
          <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <div class="field">
              <label class="label">New Password</label>
              <div class="control">
                {{ form.new_password1 }}
              </div>
              {{ form.new_password1.errors }}
            </div>

            <div class="field">
              <label class="label">Confirm New Password</label>
              <div class="control">
                {{ form.new_password2 }}
              </div>
              {{ form.new_password2.errors }}
            </div>

            <div class="field is-grouped is-grouped-right mt-4">
              <div class="control">
                <button type="submit" class="button is-primary is-rounded">Change Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
