{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="notification is-success has-text-centered">
          <h1 class="title is-4">Password Reset Successful</h1>
          <p class="subtitle is-6">
            Your password has been updated. You can now log in with your new credentials.
          </p>
        </div>
        <div class="has-text-centered">
          <a href="{% url 'login' %}" class="button is-primary is-rounded">
            <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
            <span>Login</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
