<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trident Motion Capture Lab, Hollywood California{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
    <script defer>
        document.addEventListener("DOMContentLoaded", () => {
            const burger = document.querySelector(".navbar-burger");
            const menu = document.querySelector(".navbar-menu");
            
            burger.addEventListener("click", () => {
                menu.classList.toggle("is-active");
                burger.classList.toggle("is-active");
            });
        });
    </script>
    <style>
        .button.no-border {
             border: none !important;
        }
    </style>
    <link rel="shortcut icon" type="image/png" href="/static/favicon64.png" >
	{% block headings %}{% endblock %}
</head>
<body>
  <section
    class="hero is-dark is-bold"
    style="background-image: url('https://mocapschool.com/static/bg2.png');
           background-size: cover;
           background-position: center;
           background-repeat: no-repeat;">

      <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold" href="/">Trident Motion Capture Lab - Hollywood CA</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu ">
            <div class="navbar-end">

                <a href="{% url 'home' %}" class="button is-light has-background-grey has-text-light is-rounded mr-1 mt-2 mb-2 is-rounded">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span>Home</span>
                </a>

                <a href="{% url 'events' %}" class="button is-light has-background-grey has-text-light is-rounded mr-1 mt-2 mb-2 is-rounded">
                    <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                    <span>Events</span>
                </a>

                {% if user.is_authenticated %}

                    <a href="{% url 'user_home' %}" class="button is-light has-background-grey has-text-light is-rounded mr-1 mt-2 mb-2 is-rounded">
                        <span class="icon"><i class="fas fa-user-cog"></i></span>
                        <span>Account</span>
                    </a>

                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit"
                              class="button is-rounded has-background-grey has-text-light is-shadowless no-border mr-1 mt-2 mb-2">
                        <span class="icon">
                          <i class="fa-solid fa-right-from-bracket"></i>
                        </span>
                        <span>Logout</span>
                      </button>
                    </form>
                {% else %}

                    <a href="{% url 'login' %}" class="button is-light has-background-grey has-text-light is-rounded mr-1 mt-2 mb-2">
                        <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                        <span>Login</span>
                    </a>

                    <a href="{% url 'register' %}" class="button is-light has-background-grey has-text-light is-rounded mr-1 mt-2 mb-2">
                        <span class="icon"><i class="fas  fa-user-plus"></i></span>
                        <span>Register</span>
                    </a>

                {% endif %}

            </div>
        </div>
    </nav>

      {% block headcontent %}{% endblock %}


  </section>

  {% block content %}{% endblock %}

</body>
</html>

