<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trident Motion Capture Lab, Hollywood California{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
    <script defer>
        document.addEventListener("DOMContentLoaded", () => {
            const burger = document.querySelector(".navbar-burger");
            const menu = document.querySelector(".navbar-menu");
            
            burger.addEventListener("click", () => {
                menu.classList.toggle("is-active");
                burger.classList.toggle("is-active");
            });
        });
    </script>
	{% block headings %}{% endblock %}
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand  ">
            <a class="navbar-item has-text-weight-bold" href="/">Trident Motion Capture Lab</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu ">
            <div class="navbar-end">
                <a href="{% url 'home' %}">
                    <button class="navbar-item has-text-light has-background-grey mr-1 mt-2 mb-2">Home</button>
                </a>
                <a href="{% url 'events' %}">
                    <button class="navbar-item has-text-light has-background-grey mr-1 mt-2 mb-2">Events</button>
                </a>
                {% if user.is_authenticated %}
                    <a href="{% url 'user_home' %}">
                        <button class="navbar-item has-text-light has-background-grey mr-1 mt-2 mb-2">Account</button>
                    </a>
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="navbar-item has-text-light has-background-grey mr-1 mt-2 mb-2">
                          Logout
                        </button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">
                        <button class="navbar-item has-text-light has-background-grey mr-1 mt-2 mb-2">Login</button>
                    </a>
                    <a href="{% url 'register' %}">
                        <button class="navbar-item has-text-light has-background-grey mr-1 mt-2 mb-2">Register</button>
                    </a>
                {% endif %}

            </div>
        </div>
    </nav>
    
    <section class="section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>
</body>
</html>

